# Global .gitignore rules

# ignore pycharm files
**/__pycache__
__pycache__
**/__pycache__/**
**/__pycache__/*
__pycache__/**
__pycache__/*
**/.*.swp
.*.swp
**/.idea
**/.idea/**
**/.idea/*
.idea/**
.idea/*
.idea
**/*.json
*.json

# ignore TexBuild Files
**/*.out
**/*.out.ps
**/*.bbl
**/*.blg
**/*.run.xml
**/*.dvi
*.bbl
*.blg
*.synctex.gz
**/*.synctex.gz
*.out
*.out.ps
*.dvi
*.aux
**/*.aux
*.run.xml
*-blx.bib
*.log
**/*-blx.bib
**/*.log
